#wfm-task-master {

  .logo {
    background: url("{{'logo.png' | asset_url}}");
    background-repeat: no-repeat;
    background-size: 33% 64%;
    background-position: center;
    height: 41px;
    width: 91%;
  }

  .app-box {
    border-radius: 3px;
    padding: 15px 0;
  }

  .app-text {
    padding: 10px;
    color: black;
    font-size: 14px;
  }

  .btn {
    width: 85%;
    background-color: forestgreen;
    border-color: green;
    background-image: none;
    color: white;
    text-shadow: none;
    margin: 2px;
    border-radius: 4px;
    display: inline-block;
    margin-left: 10px;
  }

  .warning {
    background-color: darkred;
    border-color: darken(darkred, 5%);
  }

  .btn:hover {
    background-color: green;
  }

  .warning:hover {
    background-color: darken(darkred, 5%);
  }

  .ship-it {
    background-color: #006063;
    border-color: #0066CC;
    display: none;
  }

  .ship-it:hover {
    background-color: darken(#006063, 5%);
  }

  h4 {
    text-align: center;
  }

  h5 {
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
  }

  .dropdown-item {
    margin: 6px 4px 4px 6px;
  }

  .dropdown-item:hover {
    cursor: pointer;
    color: #0066CC;
  }

  .dropdown-menu {
    display: none;
    width: 97%;
  }

  div.holder-task {
    padding: 2px;
  }

  .holder-client .btn {
    margin-left: 2px;
  }

  span.caret {
    border-bottom-color: white;
    border-top-color: white;
    margin-right: 1px;
  }

  .btn-group {
    padding-left: 0;
    margin-left: 0;
  }

  .creator-task {
    display: none;
  }

  .eraser-client {
    display: none;
  }

  .eraser-task {
    display: none;
  }
  
  .confirmer-client {
    display: none;
  }

  h4 > a {
    color: dodgerblue;
  }

  h4 > a:hover {
    color: darken(dodgerblue, 20%);
  }

  h5 > a {
    color: dodgerblue;
  }

  h5 > a:hover {
    color: darken(dodgerblue, 20%);
  }

  .js-wfm-form {
    background-color: transparent;
    border-color: transparent;
  }

  .js-wfm-form > ul > li {
    clear: both;
    float: left;
    width: 100%;
  }

  .js-wfm-form > ul > li > div {
    clear: both;
    float: left;
    width: 96%;
  }

  .js-wfm-form > ul > li > select {
    clear: both;
    float: left;
    width: 96%;
  }
}
